services:
  svelte-site:
    build: .
    ports:
      - "127.0.0.1:3000:3000"
    container_name: svelte-site
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 128M
    security_opt:
      - no-new-privileges:true
    environment:
      NODE_ENV: production
      PORT: 3000
      HOST: 0.0.0.0
    networks:
      - web

networks:
  web:
    external: true


